/* CSS RESET 
.............................................................................................*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CSS RESET 
.............................................................................................*/

/* DEFINE COLOURS START*/
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

/* DEFINE COLOURS FINISH
..............................................................................................*/

.main-container {
  font-size: 0.93rem;
  font-family: "Poppins", sans-serif;
  margin: 3rem 1.85rem;
  min-width: 12.5rem;
}

.first_heading,
.second_heading,
.main_paragraph {
  text-align: center;
}

.text_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first_heading {
  color: var(--Grayish-Blue);
  font-weight: 400;
}

.second_heading {
  font-weight: 600;
  margin: 0.8rem 0 1rem 0;
  letter-spacing: 0.02em;
}

.main_paragraph {
  color: var(--Grayish-Blue);
  font-weight: 400;
  max-width: 31.25rem;
}

.containers {
  display: flex;
  flex-direction: column;
  row-gap: 1.56rem;
  margin-top: 5rem;
}

.container {
  border-radius: 0.5rem;
  padding: 1.2rem;
  box-shadow: 0.31rem 0.31rem 1.25rem 0 #888888;
}

.container img {
  float: right;
  margin-top: 2.5rem;
}

.container p {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
  font-weight: 400;
}

.container-1 {
  border-top: 0.25rem solid var(--Cyan);
}

.container-2 {
  border-top: 0.25rem solid var(--Red);
}

.container-3 {
  border-top: 0.25rem solid var(--Orange);
}

.container-4 {
  border-top: 0.25rem solid var(--Blue);
}

@media (min-width: 46.8rem) {
  .containers {
    display: grid;
    grid-template-columns: repeat(2, 21.8rem);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "supervisor team-builder"
      "supervisor team-builder"
      "karma calculator"
      "karma calculator";
    gap: 1rem;
    justify-content: center;
  }

  .container-1 {
    grid-area: supervisor;
  }

  .container-2 {
    grid-area: team-builder;
  }

  .container-3 {
    grid-area: karma;
  }

  .container-4 {
    grid-area: calculator;
  }
}

@media (min-width: 71rem) {
  .first_heading,
  .second_heading {
    font-size: 2rem;
  }

  .containers {
    grid-template-columns: repeat(3, 21.8rem);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". team-builder ."
      "supervisor team-builder calculator"
      "supervisor karma calculator"
      ". karma .";
    margin-top: 3rem;
  }
}
